:root {
    --main-bg-color: #FFFFFF;
    --color1: #1F0000;
    --color2: #363C4B;
    --color2--opacity30: rgba(54, 60, 75, 0.30);
    --color3: #D9CFD0;
    --color4: #FFFFFF;
    --color5: #BD0D32;
    --color6: #FF5B7E;
    --color7: #0E1017;
    --color8: #85213D;
    --color9: #41394A;
  
    /*Dark mode*/
    --main-bg-color--dark: #0E1017;
  
    --breakpoint-small: 768px;
    --breakpoint-medium: 992px;
    --breakpoint-large: 1200px;
  }
  