:root {
  --main-bg-color: #FFFFFF;
  --color1: #1F0000;
  --color2: #363C4B;
  --color2--opacity30: rgba(54, 60, 75, 0.30);
  --color3: #D9CFD0;
  --color4: #FFFFFF;
  --color5: #BD0D32;
  --color6: #FF5B7E;
  --color7: #0E1017;
  --color8: #85213D;
  --color9: #41394A;

  /*Dark mode*/
  --main-bg-color--dark: #0E1017;

  --breakpoint-small: 768px;
  --breakpoint-medium: 992px;
  --breakpoint-large: 1200px;
}




body {
  /* padding-top: 2em; */
  background-color: var(--main-bg-color) !important;
  font-family: "Didact Gothic", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  font-size: 16px !important;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

@media only screen and (max-width: 300px) {
  body {
    font-size: 16px !important;

  }
.main__section__content{
  .paragraph__wrapper--note {
    width: 100% !important;
  }

  .header__title{
    font-size: 16px !important;
  }
}
  
}

@media only screen and (min-width: 301px) and (max-width: 768px){
  body {
    font-size: 20px !important;
 padding: 0 0.02em!important;
 margin: 0 0.02em!important;
  }

  .paragraph__wrapper--note {
    width: 100% !important;
  }

  .paragraph__wrapper--note {
    width: 100% !important;
  }
  
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 24px !important;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 28px !important;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  max-width: 100%;
  min-width: 100%;
  padding: 0 3em 0 1em;
  width: 100%;
  align-items: center;
  background: linear-gradient(to bottom right, var(--color8), var(--color9));

  .header-brand-icon{
    width: 20%;
  }
}

.header__title {
  color: var(--color4);
  text-transform: uppercase;
  padding-left: 0.3em;
}

.header__title,
.title {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main {
  margin: 2em 0;
  
  /* margin-bottom: 5em; */

  .main__section--welcome {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;

    .main__section--welcome__image {
      position: absolute;
      filter: brightness(70%);
      z-index: -100;
      height: 120vh;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .main__section--welcome__wrapper {
      
      width: 70%;
      padding: 0 5%;
      background-color: var(--color2--opacity30);
      backdrop-filter: blur(5px);
      color: var(--color4);

      .main__section--welcome__title {
        padding-top: 1em;
        font-size: 8rem;
        text-transform: uppercase;
      }

      .paragraph__title .main__section__title--medium {
        font-size: 0.8rem;
      }
    }
  }

  .main__section {
    display: flex;
    justify-content: center;
  }

  .main__section__wrapper {
    display: flex;
    width: 70%;
    padding: 0 5%;

    .main__section__title__wrapper {
      align-items: center;
      width: 100%;
      justify-content: center;
      margin: 2em 0;

      .divider {
        height: 100%;
        width: 5em;
        margin: 0 1em;
      }

      .main__section__title {
        /* white-space: nowrap; */
        font-size: 3rem;
        background: linear-gradient(to bottom right, var(--color5), var(--color9));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    .main__section__content {
      .paragraph+.paragraph {
        padding-top: 1em;
      }
    }

    .main__section__image {
      height: 35%;
      object-fit: cover;
      margin-top: 2em;
    }

    .paragraph__title {
      font-size: 2rem;
    }

  }
}

.title--description {
  justify-content: center;

  .main__section__title__wrapper {
    width: 70%;
    padding: 0 !important;

    .main__section__title {
      word-wrap: break-word !important;
      white-space: normal !important;
    }
  }


}

.button--regular {
  font-weight: 600 !important;
  background-color: var(--color5) !important;
  color: var(--color4);
  height: 4em;
  width: 12em;
  align-items: center;

  span {
    padding-left: 0.5em;
    font-size: 2rem;
  }

  a {
    all: unset;
  }
}

.btn-icon {
  max-height: 100%;
}

.main-footer {
  background-color: var(--color2) !important;
  color: var(--color4);
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%
}

/*Dark mode styling*/
.dark-mode:not(.main__section--welcome) {
  transition: background-color 0.5s ease, color 0.3s ease-in-out;
  background-color: var(--main-bg-color--dark) !important;
  color: var(--color4);

  .slider:before {
    background-color: var(--color4);
  }

  img.toggler-dark {
    display: block;
    padding-left: 0;
    -webkit-transition: .4s;
    transition: 0.4s;
  }

  .toggle-btn--dark {
    background-color: #0E1017;
    -webkit-transition: .4s;
    transition: .4s;
  }

  img.toggler-light {
    display: none;
  }

  .main__section__title__wrapper {
    .main__section__title {
      background: linear-gradient(to bottom right, var(--color4), var(--color6));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

}

.toggle-btn {
  height: 2.1em;
  width: 4em;
  border: solid 3px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color4);
  -webkit-transition: .4s;
  transition: 0.4s;
  align-items: center;

  img {
    height: 100%;
    /* right: 2px; */
    padding-left: 1.5em;
    -webkit-transition: .4s;
    transition: 0.4s;
  }
}

.toggle-btn:focus {
  outline: none;
}

.toggler-dark {
  display: none;

}

.rotate-180 {
  transform: rotate(180deg);
}

.copyright {
  padding-top: 0.5em;
  font-size: 1.5rem;
}

.copyright--small {
  font-size: 1.2rem;
}

.super-bold {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.point {
  width: 2em;
  padding-right: 0.3em;
}

.paragraph__title--point {
  align-items: center;
  width: 100%;
  justify-content: center;
}

.main__section__title {
  text-transform: uppercase;
}

.main__section__content {
  .paragraph__wrapper--note {

    .paragraph__title {
      font-size: 3rem !important;
      font-weight: 900 !important;
    }
  }
}

.paragraph__wrapper--note {
  background: linear-gradient(to bottom right, var(--color5), var(--color9));
  padding: 2em;
  color: var(--color4);
  border-radius: 3em;
  width: 70%;
}

.paragraph__wrapper--note+.paragraph__wrapper--note {
  margin-top: 3em;
}

#section2 .paragraph-wrapper+.paragraph-wrapper {
  margin-top: 2em;
}

.carusel-image,
.main__section__image--square {
  width: 15em;
  object-fit: cover;
}

.main__section__image--square {
  padding-right: 2em;

}

.links {
  padding: 2em 0;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(298deg) brightness(105%) contrast(102%);

  a {
    cursor: pointer;
  }

  a svg {
    height: 40px;
  }

  a+a {
    padding-left: 2em;
  }
}

.main__section--last {
  background: linear-gradient(to bottom right, var(--color7), var(--color2));
  color: var(--color4) !important;

  .main__section__title {
    color: var(--color4) !important;
    font-size: 6rem !important;

  }
}



.dropdown-menu {
  .star {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }
}

.dropdown-toggle {
  width: 60px;
  height: 60px;
  background: transparent !important;
}

.dropdown-toggle::after {
  display: none !important;
  ;
}

.navbar-brand {
  align-items: center;

  img {
    height: 3em !important;
  }
}

.paragraph + .container{
  padding-top: 2em;
}

.last-word{
  padding-top: 1em;
  font-size: 4rem;
  color: var(--color3);
  font-weight: 900;
  text-align: center;
}