.main__section--welcome {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0% 20%;
    padding-top: calc(var(--header-height));
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    align-items: center;

    .main__section--welcome__image {
        position: absolute;
        filter: brightness(50%);
        z-index: -100;
        height: 120vh;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .main__section--welcome__wrapper {

        //width: 70%;
        //padding: 10% 15%;

        //background-color: var(--color2--opacity30);
        backdrop-filter: blur(5px);
        color: var(--color4);

        .main__section--welcome__title {
            padding-top: 1em;
            font-size: 10rem;
            text-transform: uppercase;
        }

        .paragraph__title .main__section__title--medium {
            font-size: 0.8rem;
        }
    }
}

#main {
    margin: 5em 0;

    /* margin-bottom: 5em; */


    .main__section {
        display: flex;
        justify-content: center;
    }

    .main__section__wrapper {
        padding: 0 20%;
        display: grid;
        grid-template-columns: 1fr 50%;
        gap: 10px;
        height: 100vh;

        .main__section__title__wrapper {
            align-items: center;
            width: 100%;
            justify-content: center;
            margin: 2em 0;

            .divider {
                height: 100%;
                width: 5em;
                margin: 0 1em;
            }

            .main__section__title {
                /* white-space: nowrap; */
                font-size: 3rem;
                background: linear-gradient(to bottom right, var(--color5), var(--color9));
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }

        .main__section__content {
            .paragraph+.paragraph {
                padding-top: 1em;
            }
        }

        .main__section__image {
            height: 35%;
            object-fit: cover;
            margin-top: 2em;
        }

        .paragraph__title {
            font-size: 2rem;
        }

    }
}

.title--description {
    justify-content: center;

    .main__section__title__wrapper {
        width: 70%;
        padding: 0 !important;

        .main__section__title {
            word-wrap: break-word !important;
            white-space: normal !important;
        }
    }


}

.paragraph__title--point {
    align-items: center;
    width: 100%;
    justify-content: center;
}

.main__section__title {
    text-transform: uppercase;
}

.main__section__content {
    .paragraph__wrapper--note {

        .paragraph__title {
            font-size: 3rem !important;
            font-weight: 900 !important;
        }
    }
}

.paragraph__wrapper--note {
    background: linear-gradient(to bottom right, var(--color5), var(--color9));
    padding: 2em;
    color: var(--color4);
    border-radius: 3em;
    width: 70%;
}

.paragraph__wrapper--note+.paragraph__wrapper--note {
    margin-top: 3em;
}

#section2 .paragraph-wrapper+.paragraph-wrapper {
    margin-top: 2em;
}

.carusel-image,
.main__section__image--square {
    width: 15em;
    object-fit: cover;
}

.main__section__image--square {
    padding-right: 2em;

}

.main__section--last {
    background: linear-gradient(to bottom right, var(--color7), var(--color2));
    color: var(--color4) !important;

    .main__section__title {
        color: var(--color4) !important;
        font-size: 6rem !important;

    }
}

.paragraph+.container {
    padding-top: 2em;
}

.last-word {
    padding-top: 1em;
    font-size: 4rem;
    color: var(--color3);
    font-weight: 900;
    text-align: center;
}