.button--regular {
    font-weight: 600 !important;
    background-color: var(--color5) !important;
    color: var(--color4);
    height: 4em;
    width: 12em;
    align-items: center;
  
    span {
      padding-left: 0.5em;
      font-size: 2rem;
    }
  
    a {
      all: unset;
    }
  }
  
  .btn-icon {
    max-height: 100%;
  }
  

  .toggle-btn {
    position: relative;
    height: 1.5em;
    width: 2.7em;
    border: solid 3px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--color4);
    -webkit-transition: 1s;
    transition: 1s;
    align-items: center;
  
    img {
      position: absolute;
      top: 6%;
      height: 1em;
      max-height: 1em;
      min-height: 1em;
    }
  }
  
  .toggle-btn:focus {
    outline: none;
  }
  
  .toggler-dark {
    display: none;
  
  }